<!DOCTYPE html>
<html>
  <head>
    <title>web &bull; home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>web</h1>
    <hr />
    <h3>web is a simple single-page site builder.</h3>
    <p>
      Built around YAML, anybody can create a site using the graphical editor or
      by custom YAML.
    </p>
    <p>
      Currently, web is in alpha. This means that it is not yet ready for
      production use. (however, <%= no_of_sites %> sites have been created using
      web!)
    </p>
    <p>
      web is built on top of <a href="https://nodejs.org">Node.js</a> and
      <a href="https://expressjs.com">Express</a>. It uses
      <a href="https://ejs.co">EJS</a> for templating and
      <a href="https://yaml.org">YAML</a> for data storage.
    </p>
    <p>
      web is open source and is available on
      <a href="https://github.com/znci/web">GitHub</a>.
    </p>
    <br />
    
	<% if (us) { %>
		<a href="dashboard">Go to dashboard</a>
	<%} else { %>
		<a href="dashboard">Ready to get started?</a>
	<% } %>

    <footer>
		<hr>
      <p>
		<div class="right">
		<p>
			<strong>web</strong> <p>A <a href="https://znci.dev"><strong>znci</strong></a> project</p>
		</p>
		</div>
        
		<div class="left">
		<% if (us) { %>
			<% us %>
			<p>Hi, <strong><%= us.username %></strong>! (<%= us.id %>)</p>
		<%} else { %>
			<p>Hi there! Please login.</p>
		<% } %>

			&bull; <a href="dashboard">dashboard</a> 
		<br>
		&bull; 
		<% if (us) { %>
			<a href="/oauth/logout">logout</a>
		<%} else { %>
			<a href="/oauth/login">login</a>
		<% } %>
		</div>
      </p>
    </footer>
  </body>
</html>
