<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body class="container">

<main>
  <div>
    <p>w/post-id</p>
	<% if (!user) { %>
		<h2>Welcome! Please log in.</h2>
	<% } else { %>
		<h2>Hello, <%= user.displayName %>.</h2>
	<% } %>
  </div>
</main>
</body>
</html>